# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ShopWebApp.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\user\source\repos\ShopWebApp\.idea\.idea.ShopWebApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
